[submodule "editorconfig-core-test"]
	path = core-test
	url = https://github.com/editorconfig/editorconfig-core-test.git
[submodule "editorconfig-plugin-tests"]
	path = ert-tests/plugin-tests
	url = https://github.com/editorconfig/editorconfig-plugin-tests.git
