name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]
    branches:
      - 'master'
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs_version:
          - "26.3"
          - "27.2"
          - "28.2"
          - "29.3"
        experimental: [false]
        include:
          - os: ubuntu-latest
            emacs_version: snapshot
            experimental: true
          - os: macos-latest
            emacs_version: snapshot
            experimental: true
          - os: windows-latest
            emacs_version: snapshot
            experimental: true
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Emacs
        uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - uses: emacs-eask/setup-eask@master
        with:
          version: 'snapshot'

      - name: Run tests (Unix)
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        run: make check-unix

      - name: Run tests (Windows)
        if: matrix.os == 'windows-latest'
        run: make check-dos
